body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myb {
  padding: 20px;
  width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  margin-bottom: 5px;
}
.ucolor {
  color:green;
}
.dcolor {
  color: red;
}
.ccolor{
  color: #0d6efd;
}
.mybox {
  padding: 5px;
  margin-left: 130px;
  margin-right: 30px;
  width: 700px;
  margin-bottom: 10px;
  border: 2px solid black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#0d6efd;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#679ff4;
  color:#111;
}
.show:hover{
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.sh{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}
/* .story{
  position: relative;
  background-repeat: no-repeat;
  width: 120px;
  background-size: cover;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
  border-radius:10px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 100ms ease-in;
}
.story :hover{
  transform: scale(1.07);
} */
.user__avatar {
  border-radius: 50%;
  width: 25px;
}
.feed {
  flex: 2;
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sidebar {
  padding: 25px 10px;
  flex: 0.33;
}

.storyReel {
  padding: 10px 0;
  display: flex;
}

.story {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
}

.story__avatar {
  margin: 10px;
  color: blue;
}

.story h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
.post__top {
  display: flex;
  position: relative;
  align-items: center;
   padding: 5px; 
}
.post__topInfo h3 {
  font-size: medium;
}

.post__topInfo p {
  font-size: small;
  color: gray;
}
.post__avatar {
  margin-right: 10px;
}
.header__input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}
.header__input input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}